<p id="notice"><%= notice %></p>
<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>




<h1>Categories</h1>

<div class="row">

    <% @categories.each do |category| %>
    <div class="col-md-4">

      <div class="card" style="color: blue;">
      <%= image_tag("company.png", class: "card-img-top") %>
  <div class="card-body">
    <h4 class="card-title"><%= category.name %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= link_to 'View', category %></li>
  </ul>
  <div class="card-body">
        <td><%= link_to 'Edit', edit_category_path(category), class: "card-link" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %></td>


  </div>
</div>

</div>
<%end%>

</div>