<p id="notice"><%= notice %></p>

<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>

<h1>Categories</h1>

<div class="row">

    <% @categories.each do |category| %>
    <div class="col-md-4 mb-5">

      <div class="card" style="background: grey;">
      <%= image_tag("company.png", class: "card-img-top") %>
  <div class="card-body">
    <h4 class="card-title" style="text-transform: uppercase;"><%= link_to category.name, category %></h4>
  
        <td><%= link_to 'Edit', edit_category_path(category), class: "card-link" %></td>
        <td><% link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %></td>
  </div>
</div>

</div>
<%end%>

</div>