<p id="notice"><%= notice %></p>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Business Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   
    <tr>
      <th scope="row"><%= @category.name %></th>
      <td><%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %></td>
    </tr>
   
  </tbody>
</table>

<div class="row">

    <% @category.companies.each do |company| %>
    <div class="col-md-4">

      <div class="card" style="color: blue;">
      <%= image_tag("company.png", class: "card-img-top") %>
  <div class="card-body">
    <h4 class="card-title"><%= company.name %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= link_to 'See Forms', company %></li>
  </ul>
  <div class="card-body">
  </div>
</div>

</div>
<%end%>
</div>